body {
  font-family: Arial, sans-serif;

}

/* Estilo para el menú desplegable */
.navbar {
  background-color: rgb(41, 41, 41);

  padding: 0 40px 0 40px;
}

.logo {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 70px;
  padding: 0 0 0 90px;
}

.logo p {
  background: linear-gradient(to right, #0bbdea, #d21191);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  padding: 13px 0px 0 10px;
  font-size: 30px;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: row;
  font-size: 30px;

}

.login {
  color: white;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;

  box-shadow: 5px 5px 10px 0px rgb(0, 0, 0);
  border-radius: 10%;


}

.navbar a:hover {
  background-color: #9b5bf5;

  color: black;
  border-radius: 10%;
}

.bg1 {
  background-color: black;
  width: 100%;
  height: 100vh;
  background-image: url('Imagenes/campo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: brightness(50%);
  z-index: 1;
}

.overbg{
  width: 80%; /* Ancho de tu div superpuesto */
    max-width: 600px; /* Ancho máximo */
    background-color:#78909B; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 20px; /* Espaciado interior */
    text-align: center; /* Alinear texto al centro */
    margin: auto; /* Centrar horizontalmente */
    border-radius: 10px;
    background-position: center center;
    z-index: 11;

}

#noticias {
  margin-top: 20px; /* Ajusta el valor según el espacio deseado */
}

.noticia {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  max-width: 300px;
  display: inline-block;
}

.noticia img {
  max-width: 100%;
}
h1 {
  text-align: left; /* Centra el título */
  font-size: 14px; /* Tamaño de fuente */
  margin-top: 200px; /* Espacio superior */
  color: #333; /* Color del texto */
  padding: 10px
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

h1 {
  background-color: #333;
  color: white;
  
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.match {
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.team {
  font-weight: bold;
  font-size: 18px;
}

.vs {
  font-size: 16px;
  margin: 0 10px;
}

.date {
  font-size: 14px;
  color: #666;
}
